.root {
  --whiteModeTitleColor: #38b6ff;
  --whiteModeTextColor: #002486;
  --darkModeTitleColor: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

body {
  padding: 10px;
  background-color: white;
  color: black;
}

.Logo {
  padding: 5px;
  min-width: 9%;
  max-width: 9%;
  min-height: 9%;
  max-height: 9%;
  border-radius: 50%;
  transition: transform 2s;
}

.Logo:hover {
  transform: rotate(360deg) scale(1.1);
}

.answer {
  font-size: medium;
}

.headtitle {
  text-align: center;
  color: #38b6ff;
}

.headtitle b {
  font-family: Graduate, serif;
  font-size: 50pt;
}

.section_div {
  padding: 40px;
  margin: auto;
  color: #002486;
}

.about,
.ease_of_use,
.socialMedia {
  background: linear-gradient(to bottom, white 20%, #38b6ff 120%);
}

.section_div_title {
  text-align: center;
}

.footer_nav {
  text-align: center;
}

.footer_nav a {
  text-decoration: none;
  color: #38b6ff;
}

.product_title {
  color: #38b6ff;
  text-align: center;
}

.thumbnail {
  max-width: 100%;
  display: block;
  overflow: auto;
}

.product_area {
  padding: 15px;
}

.options_btn {
  padding: 5px 50px;
  margin: auto;
  font-size: 15pt;
}

.noDecor {
  text-decoration: none;
  color: white;
}

.noDecor:hover {
  text-decoration: none;
  color: white;
}

.viewProductImage {
  display: block;
  overflow: hidden;
  margin: auto;
  min-width: 20%;
  max-width: 100%;
}

.productPrice {
  font-size: 40pt;
  color: #38b6ff;
  font-weight: bolder;
}

.linkblue {
  color: #002486;
}

.socialMedia {
  text-align: center;
}

.info {
  color: #002486;
  text-align: center;
}

.search {
  text-align: center;
}

.hidden {
  display: none;
}

#priceFilter {
  margin: auto;
  text-align: center;
}

.centerText {
  text-align: center;
}

.centerDiv {
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.product_area:hover {
  transform: scale(1.05);
  z-index: 2;
}

.rihannav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
}

.formRightSide {
  float: right;
}

.formMain {
  box-shadow: 7px 7px 2px #38b6ff, -2px -2px 2px #38b6ff;
}

.form-btn {
  min-width: none;
  width: 200px;
  margin: 10px;
}

.colorModes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.colorModes-inner {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.more-tools a {
  color: #38b6ff;
  font-size: 20pt;
}

@media (max-width: 767px) {
  .more-tools a {
    font-size: 15pt;
  }
}

/* #marketplace {
  width: 100%;
  height: 438px;
  overflow: hidden;
  transition: height 2s ease-in-out;
} */

/* 1 column of products */
/* @media (min-width: 50px) {
  #marketplace {
    height: 5182px;
  }
} */
/* 2 columns of products */
/* @media (min-width: 765px) {
  #marketplace {
    height: 1942px;
  }
} */
/* 4 long columns of products */
/* @media (min-width: 1000px) {
  #marketplace {
    height: 870px;
  }
} */
/* 4 short columns of products */
/* @media (min-width: 1198px) {
  #marketplace {
    height: 970px;
  }
} */
